.hero-container {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
  background-color:dimgray;
}

.hero-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-container h1, .hero-container p, .hero-search-container {
  position: relative;
  z-index: 1;
}

.hero-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-container p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1rem;
  border-radius: 5px;
}

.hero-search-container input {
  padding: 1rem;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.hero-search-container button {
  padding: 1rem;
  background-color: #d4af37;
  color: #1a1a1a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hero-search-container button:hover {
  background-color: #b8932a;
}
